*{
    font-family: 'Tilt Warp', cursive;
}

body{
    height: 100vh;
    background-color: rgb(141, 211, 222);
}

#head{
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car{
    border: 6px solid rgb(143, 136, 248);
    border-radius: 20px;
}

.car2{
font-size: 3vw;
}